.business-card {
  overflow: hidden;
}

.business-card a {
  outline: none;
  text-decoration: none;
}

.business-card .wrapper {
  position: absolute;
  width: 110vw;
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url('./texture-1.jpg');
  background-size: 100% auto;
}

.business-card .b-card {
  position: relative;
  width: 450px;
  height: 250px;
  padding: 10px 15px 15px 10px;
  border-radius: 2px;
  background: url('./texture-2.jpg');
  background-size: cover;
  box-shadow: 
  /* top shadow */
  0px -10px 10px rgba(0,0,0,0.2),
  /* bottom shadow */
  0px 10px 20px rgba(0,0,0,0.4),
  /* left shadow */
  -10px 0px 20px rgba(0,0,0,0.4),
  /*right shadow */
  10px 0px 20px rgba(0,0,0,0.4),
  /* inner shadow */
  inset 1px 1px 20px rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  cursor: pointer;
  transition: 0.5s;
}

.business-card .b-company-text {
  font-size: 26px;
  letter-spacing: 2px;
  word-spacing: 6px;
  padding-top:20px;
  color: transparent;
  background: url("texture-4.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.1);
}

.business-card .b-card.b-back .b-left {
  position: absolute;
  left: 30px;
  top: 25px;
  color:transparent;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.business-card .b-card.b-back .b-left h2,
.business-card .b-card.b-back .b-left h3 {
  padding-top: 10px;
  color: transparent;
  background: url("texture-4.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.1);
}
.business-card .b-card.b-back .b-left h3 {
  letter-spacing: 2px;
  word-spacing: 6px;
}

.b-card.b-back .b-right {
  position: absolute;
  width: 250px;
  right: 10px;
  bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color:transparent;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.business-card .b-card.b-front {
  transform: rotateZ(-10deg);
  left: -35%;
  top: -15%;
}
.business-card .b-card.b-back {
  transform: rotateZ(10deg);
  left: 15%;
  top: 0;
}

.business-card .b-card:hover {
  transform: scale(1.1);
}

.business-card .b-light {
  position: absolute;
  width: 110vw;
  height: 110vh;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255,255,255,0.3) 20%,rgba(255,255,255,0) 60%);
  opacity: 0.4;
  z-index: 9;
  pointer-events: none;
}


@media (max-width: 800px) {
  .business-card .b-card {
    position: relative;
    width: 270px;/* 1.8 */
    height: 150px;
    padding: 5px 7px 7px 5px;
  }
  .business-card .b-company-text {font-size: 18px;}
  .business-card .b-card.b-front {
    left: 0;
    top: -20%;
  }
  .business-card .b-card.b-back {
    left: 0;
    top: 20%;
  }

  .business-card .b-card.b-back .b-left {
    left: 30px;
    top: 25px;
  }
  .business-card .b-card.b-back .b-left h2,
  .business-card .b-card.b-back .b-left h3 {
    padding-top: 5px;
    font-size: 12px;
  }
  .business-card .b-card.b-back .b-left h3 {
    letter-spacing: 2px;
    word-spacing: 6px;
  }
  .b-card.b-back .b-right {
    width: 160px;
    right: 10px;
    bottom: 10px;
    font-size: 10px;
    line-height: 15px;
  }
}