.home-page .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 2vw;
  padding: 1vh 1vw;
}

.home-page .card {
  max-width: 400px;
  height: 100%;
  margin: auto;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  border: 5px solid #ff0000;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.5s;
}
.home-page .card img {
  width: 110%;
  height: auto;
}
.home-page .card h3 {
  font-size: 25px;
  color: #cccccc;
  text-align: center;
  padding-bottom: 10px;
}
.home-page .card h4 {
  font-size: 14px;
  color: #cccccc;
  text-align: justify;
  padding-bottom: 10px;
}
.home-page .card a {
  margin: auto;
  height: 30px;
  width: 130px;
  border-radius: 10px;
  background-color: #ffffff;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page .card a p {
  margin: auto;
  text-align: center;
  color: #333333;
}

.home-page .card:hover {
  transform: translateY(-20px) scale(1.05);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

@media (max-width: 800px) {
  .home-page .cards {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
  .home-page .card {
    max-width: 400px;
    margin: auto;
  }
}